%h1 Welcome to Mini Jira, #{@user.email}!
%p You have successfully signed up. We are thrilled to have you on board.
%p
  To login to the site, just follow this link:
  = link_to 'Login to your dashboard', new_user_session_url
%p Thanks for joining and have a great day!