%div{ id: dom_id(task),
      class: "bg-white p-3 rounded shadow-sm border border-gray-200 cursor-grab hover:border-teal-500 hover:shadow transition-all group",
      data: { task_id: task.id, move_url: move_project_task_path(project, task) } }
  %p.text-sm.font-medium.text-gray-900.mb-2
    = task.title

  - if task.description.present?
    %p.mt-2.text-sm.text-gray-600.leading-relaxed
      = task.description

  .mt-3.flex.justify-end.opacity-0.group-hover:opacity-100.transition-opacity
    = link_to 'Edit', edit_project_task_path(project, task), class: "text-xs font-medium text-gray-500 hover:text-teal-600"